@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  height: 100vh;
  /* background-image: linear-gradient(to top left, #c2c29d 0%, #ada56d 100%); */
  background: linear-gradient(
      to top left,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url('images/background.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* LAYOUT */
main {
  width: 100rem;
  height: 60rem;
  background-color: rgba(57, 150, 0, 0.4);
  display: flex;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.35);
  border-radius: 9px;
  overflow: hidden;
  position: relative;
  opacity: 0;
  animation: main-display 2s 4s forwards;
}

@keyframes main-display {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.main-header {
  width: 100%;
  height: 100vh;
  background: url('images/bc-help.jpg') center no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  perspective: 100rem;
  animation: hidden 1s 3.5s forwards;
}

@keyframes hidden {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
    z-index: -10;
  }
}

.header {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20rem;
  color: #ddd;
  font-weight: 300;
  font-size: 10rem;
  /* letter-spacing: 2px; */
  line-height: 10rem;
  transform-style: preserve-3d;
  animation: header-float 2s 1s forwards;
  opacity: 0;
}

@keyframes header-float {
  0% {
    opacity: 0;
    transform: translateZ(-1000rem);
    letter-spacing: 2px;
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
    letter-spacing: 4px;
  }
}

.mark {
  font-size: 3rem;
  font-weight: 700;
  color: #000;
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: font-size 0.4s;
}

.question-mark:hover {
  font-size: 3.5rem;
}

.github-mark {
  right: 3rem;
  bottom: 3rem;
}

.question-mark {
  top: 3rem;
  right: 3rem;
}

.mark-close {
  left: 2rem;
  top: 2rem;
}

/* .question-mark:hover {
  font-size: 3.5rem;
} */

.wrapper-game-rules {
  opacity: 0;
  transition: opacity 0.2s;
}

.active.wrapper-game-rules {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.8)
    ),
    url('images/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 4;
  opacity: 1;
  transition: opacity 0.4s;
}

.game-rules {
  position: absolute;
  z-index: 5;
  width: 40rem;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 3rem;
  padding-top: 9rem;
  top: 0;
  right: -40rem;
  font-size: 1.6rem;
  line-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: right 0.4s;
}

.active .game-rules {
  right: 0;
}

.rule-heading {
  text-align: center;
  font-size: 2rem;
}

.rule {
  margin: 2rem 0;
}

/* ELEMENTS */
.name {
  font-size: 4rem;
  font-weight: 400;
  color: #333;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(255, 255, 255, 0.15);
  margin-bottom: 2rem;
}

.points {
  width: 70%;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: auto;
  box-shadow: inset -0.5rem -0.5rem 0.5rem rgba(0, 0, 0, 0.35);
}

.points-label {
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #eee;
  margin-bottom: 1rem;
}

.points-score {
  font-size: 3.5rem;
}

.loss,
.win1,
.win2 {
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: #444;
  animation: toUp 1s linear forwards;
}

@keyframes toUp {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  60% {
    opacity: 0.7;
  }

  100% {
    transform: translateY(-3rem);
    opacity: 0;
  }
}

.score {
  font-size: 8rem;
  color: #052b1a;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

.player--active .name {
  font-weight: 700;
}

.player--active .points {
  background-color: rgba(144, 177, 59, 0.7);
  opacity: 1;
}

.player--active .score {
  color: #052b1a;
}

.player--active .current {
  opacity: 1;
}

.current {
  width: 60%;
  color: #fff;
  background-color: #052b1a;
  padding: 1rem;
  border-radius: 10px;
  opacity: 0.7;
}

.current-label {
  font-size: 1.7rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-score {
  font-size: 3.5rem;
  margin-left: 1rem;
}

/* ABSOLUTE POSITIONED ELEMENTS  */
.dices {
  position: absolute;
  height: 8rem;
  top: 28rem;
  left: 50%;
  transform: translateX(-50%);
}

.dice {
  height: 100%;
  margin: 0 1rem;
  box-shadow: -0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.8);
  opacity: 1;
  /* animation: diceDisplay 0s ease-in forwards; */
}

@keyframes diceDisplay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.8rem;
  font-weight: 400;
  font-family: inherit;
  text-transform: uppercase;
  padding: 0.7rem 2.5rem;
  border: none;
  border-radius: 50rem;
  color: #444;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 1);
}

.btn--new {
  top: 5rem;
}

.btn--roll {
  top: 45rem;
}

.btn--finish {
  top: 50rem;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.btn-active {
  opacity: 1;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
}

.btn:focus {
  outline: none;
}

.player--winner {
  background-color: rgba(2, 2, 1, 0.9);
}

.player--winner .name {
  font-weight: 700;
  color: #eee;
}

.player--winner .current {
  background-color: rgba(255, 255, 255, 0.2);
}

.player--winner .score {
  color: #ccc;
}

.player--winPoint .points {
  animation: bG 1s linear forwards;
}

@keyframes bG {
  10% {
    background-color: rgba(255, 215, 0, 0.7);
  }

  80% {
    background-color: rgba(255, 215, 0, 0.7);
  }
}
/* 
.winner {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  color
} */

.hidden {
  display: none;
}
