@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  height: 100vh;
  /* background-image: linear-gradient(to top left, #c2c29d 0%, #ada56d 100%); */
  background: linear-gradient(
      to top left,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url('images/background.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LAYOUT */
main {
  width: 100rem;
  height: 60rem;
  background-color: rgba(57, 150, 0, 0.4);
  display: flex;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.35);
  border-radius: 9px;
  overflow: hidden;
  position: relative;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

/* ELEMENTS */
.name {
  font-size: 4rem;
  font-weight: 400;
  color: #333;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(255, 255, 255, 0.15);
  margin-bottom: 2rem;
}

.points {
  width: 70%;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: auto;
  box-shadow: inset -0.5rem -0.5rem 0.5rem rgba(0, 0, 0, 0.35);
}

.points-label {
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #eee;
  margin-bottom: 1rem;
}

.points-score {
  font-size: 3.5rem;
}

.loss,
.win {
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: #444;
  animation: toUp 1s linear forwards;
}

@keyframes toUp {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  60% {
    opacity: 0.7;
  }

  100% {
    transform: translateY(-3rem);
    opacity: 0;
  }
}

.score {
  font-size: 8rem;
  color: #052b1a;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

.player--active .name {
  font-weight: 700;
}

.player--active .points {
  background-color: rgba(144, 177, 59, 0.7);
  opacity: 1;
}

.player--active .score {
  color: #052b1a;
}

.player--active .current {
  opacity: 1;
}

.current {
  width: 60%;
  color: #fff;
  background-color: #052b1a;
  padding: 1rem;
  border-radius: 10px;
  opacity: 0.7;
}

.current-label {
  font-size: 1.7rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-score {
  font-size: 3.5rem;
  margin-left: 1rem;
}

/* ABSOLUTE POSITIONED ELEMENTS  */
.dices {
  position: absolute;
  height: 8rem;
  top: 28rem;
  left: 50%;
  transform: translateX(-50%);
}

.dice {
  height: 100%;
  margin: 0 1rem;
  box-shadow: -0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.8);
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.8rem;
  font-weight: 400;
  font-family: inherit;
  text-transform: uppercase;
  padding: 0.7rem 2.5rem;
  border: none;
  border-radius: 50rem;
  color: #444;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 1);
}

.btn--new {
  top: 5rem;
}

.btn--roll {
  top: 45rem;
}

.btn--finish {
  top: 50rem;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.btn-active {
  opacity: 1;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
}

.btn:focus {
  outline: none;
}

.player--winner {
  background-color: rgba(2, 2, 1, 0.9);
}

.player--winner .name {
  font-weight: 700;
  color: #eee;
}

.player--winner .current {
  background-color: rgba(255, 255, 255, 0.2);
}

.player--winner .score {
  color: #ccc;
}

.player--winPoint .points {
  animation: bG 1s linear forwards;
}

@keyframes bG {
  10% {
    background-color: rgba(255, 215, 0, 0.7);
  }

  80% {
    background-color: rgba(255, 215, 0, 0.7);
  }
}
/* 
.winner {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  color
} */

.hidden {
  display: none;
}
